<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="header"></div>
    <div class="container"></div>
    <div class="footer"></div>

    <div>
      <div style="text-align: right;">
        <a class="logout" href="/logout">logout</a>
      </div>
    </div>

    <script>
      $(() => {
        $("#header").load("./adminheader.ejs");
      });
    </script>
  </body>
</html>
