<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <script src="/javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
</head>

<body>
    <div>
        <div style="text-align: right;">
        <a class="logout" href="/logout">logout</a>
        </div>
    </div>
    <div class="container">
        <h1 style="font-size: 60px;text-align: center;">Welcome 
        </h1>
        <br>
        <br>
        <font size="6">
            <p><strong><center>OnGoing Matches</center></strong></p>
        </font>
        <%if(ongoingmatchdata.length!=0){%>

        <table align="center">
            <tr>
                <th>Name</th>
                <th>Team A</th>
                <th>Team B</th>
                <th>Bet End Time</th>
            </tr>
            <% for(let i=0;i<ongoingmatchdata.length;i++) {%>
            <tr>
                <td>
                    <%=ongoingmatchdata[i].MatchName%>
                </td>

                <td>
                    <%=ongoingmatchdata[i].TeamA%>
                </td>

                <td>
                    <%=ongoingmatchdata[i].TeamB%>
                </td>

                <td>
                    <%=new Date(ongoingmatchdata[i].StartTime)%>
                </td>

                <td>
                    <button type="submit" onclick="onbet(<%=ongoingmatchdata[i].Index%>)">BET</button>
                </td>
            </tr>
            <%}%>
        </table>
    <%} else{%>
        <p style="text-align: center;">No Matches Available</p>
<%}%>

<font size="6">
    <p><strong><center>Past Matches</center></strong></p>
</font>
<%if(pastmatchdata.length!=0){%>

<table align="center">
    <tr>
        <th>Name</th>
        <th>Team A</th>
        <th>Team B</th>
        <th>Closed Time</th>
    </tr>
    <% for(let i=0;i<pastmatchdata.length;i++) {%>
    <tr>
        <td>
            <%=pastmatchdata[i].MatchName%>
        </td>

        <td>
            <%=pastmatchdata[i].TeamA%>
        </td>

        <td>
            <%=pastmatchdata[i].TeamB%>
        </td>

        <td>
            <%=new Date(pastmatchdata[i].StartTime)%>
        </td>

        <td>
            <a class="viewbutton" href="/getmatchdetails?id=<%=pastmatchdata[i].Index%>">View</a>
        </td>
    </tr>
    <%}%>
</table>
<%} else{%>
<p style="text-align: center;">No Matches Available</p>
<%}%>


    </div>
    <div class="accounts">
        
    </div>


   <!-- scripts -->

    <script>

        function onbet(id)
        {
            $.get('/onbet',{id:id}).done(data=>{
                $('.accounts').html(data);
            });
        }

        function onviewdetails(id)
        {
            $.get('/getmatchdetails',{id:id},(data,status)=>{
                console.log(data);
            })
        }
    </script>
    


</body>

</html>