<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/loader.css' />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="loader"></div>
    </div>
</body>
</html>