<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <script src="/javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <button class="enableEthereumButton" aria-disabled="disableMetaMask()">
      Enable Ethereum
    </button>
    <script>
      function EnableButtonState() {
        if (typeof window.ethereum !== "undefined") return false;
        else return true;
      }

      if (typeof window.ethereum !== "undefined") {
        console.log("MetaMask is installed!");
        const ethereumButton = document.querySelector(".enableEthereumButton");

        ethereumButton.addEventListener("click", () => {
          //Will Start the metamask extension
          ethereum
            .request({ method: "eth_requestAccounts" })
            .then((accounts) => {
              if (accounts.length > 0) {
                $.get("/", { flag: true }).then((data) => {
                  window.location.reload();
                });
              }
            });
        });
      }
    </script>
  </body>
</html>
