<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <script src="/javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <title>Document</title>
  </head>
  <body></body>
</html>
