body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  width: 115px;
  height: 25px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none;
}
a.logout {
  background: royalblue;
  color: white;
}

a.viewbutton {
  background: red;
  color: white;
}

table {
  width: 1300px;
}

td {
  height: 40px;
  text-align: center;
}
