<div class="container">
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,700">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:900">

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h3>Oops! Page not found</h3>
				<h1><span>4</span><span>0</span><span>4</span></h1>
			</div>
            <h2>we are sorry, but the page you requested was not found</h2>
            <h3>
                GO BACK
            </h3>
		</div>
	</div>
</div>